- if user_signed_in?
  %p#intro
    Hello
    = current_user.name
    %br
    %span
      Share your inspirations and see what other people are inspired by too!
- else
  %p#intro
    What do you want to share today?
    %br
    %span
      Share your inspirations and see what other people are inspired by too!

#posts
  - @posts.each do |post|
    .post
      .post-image
        = link_to (image_tag post.image.url(:thumb)), post
      .post-content
        .title
          %h2= link_to post.title, post_path(post)
        .data.clearfix
          %p.username
            Shared by
            = post.user.name
          %p.buttons
            %span
              %i.fa.fa-comments-o
              = post.comments.count
              %i.fa.fa-thumbs-o-up
              = post.get_likes.size